:root {
  --white: #ffffff;

  --silver-50: #f7f7f7;
  --silver-100: #ededed;
  --silver-200: #dfdfdf;
  --silver-300: #c4c4c4;
  --silver-400: #adadad;
  --silver-500: #999999;
  --silver-600: #888888;
  --silver-700: #7b7b7b;
  --silver-800: #676767;
  --silver-900: #545454;
  --silver-950: #363636;

  --camarone-50: #ebffe4;
  --camarone-100: #d3ffc4;
  --camarone-200: #a8ff8f;
  --camarone-300: #70ff4f;
  --camarone-400: #3dff1b;
  --camarone-500: #1ce700;
  --camarone-600: #11b900;
  --camarone-700: #0d8c00;
  --camarone-800: #0f6e06;
  --camarone-900: #0f570a;
  --camarone-950: #013400;

  --cod-gray-50: #f5f5f6;
  --cod-gray-100: #e5e6e8;
  --cod-gray-200: #cdced4;
  --cod-gray-300: #aaacb6;
  --cod-gray-400: #7f8191;
  --cod-gray-500: #646676;
  --cod-gray-600: #565764;
  --cod-gray-700: #4a4b54;
  --cod-gray-800: #414149;
  --cod-gray-900: #26262b;
  --cod-gray-950: #070708;

  --flame: #e80101;

}

:root {
  --body-bg-color: var(--silver-100);

  --header-bg-color: var(--white);
  --header-border-color: var(--silver-200);
  --header-text-color: var(--silver-950);

  --habit-text-color: var(--silver-950);
  --habitTitle-bg-color: var(--white);
  --habitButton-bg-color: var(--white);

  --streak-text-color: var(--camarone-950);
  --streak-icon-color: var(--flame);

  --checkbox-bg-color--unchecked: var(--white);
  --checkbox-text-color--unchecked: var(--silver-900);
  --checkbox-bg-color--checked: var(--camarone-600);
  --checkbox-text-color--checked: var(--camarone-100);

  --cta-text-color: var(--camarone-700);

  --dialog-bg-color: var(--white);
  --dialog-text-color: var(--silver-950);
}

:root[data-theme="dark"] {
  --body-bg-color: var(--cod-gray-950);

  --header-bg-color: var(--cod-gray-900);
  --header-border-color: var(--silver-950);
  --header-text-color: var(--white);

  --habit-text-color: var(--white);
  --habitTitle-bg-color: var(--cod-gray-900);
  --habitButton-bg-color: var(--cod-gray-900);

  --streak-text-color: var(--white);
  --streak-icon-color: var(--flame);

  --checkbox-bg-color--unchecked: var(--cod-gray-900);
  --checkbox-text-color--unchecked: var(--cod-gray-100);
  --checkbox-bg-color--checked: var(--camarone-700);
  --checkbox-text-color--checked: var(--white);

  --cta-text-color: var(--camarone-500);
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
textarea,
select {
  font: inherit;
}

button {
  padding: 0;
  border-radius: 0;
  font: inherit;
  color: inherit;
  border: 1px solid currentColor;
  background-color: transparent;
  cursor: pointer;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  color: inherit;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.u-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  font-family: "Geist", sans-serif;
  background-color: var(--body-bg-color);
}