
.page {
   min-height: 100dvh;
}

.main {
   padding-block-end: 3rem;
}

.ctaButtonWrapper {
   margin-block-start: 2rem;
   display: flex;
   align-items: center;
   justify-content: center;
}

.ctaButton {
   border: 0;
   display: flex;
   align-items: center;
   column-gap: .5rem;
   line-height: 1;
   color: var(--cta-text-color);
   font-weight: 600;
}

.habit {
   margin-block-start: 1rem;
   color: var(--habit-text-color);
}

.habitHeader {
   padding-inline: 1rem;
   display: flex;
   flex-wrap: wrap;
   align-items: stretch;
   column-gap: .25rem;
   row-gap: .5rem;
   padding-block-start: .5rem;
   padding-block-end: .375rem;
}

.habitPopoverWrapper {
   position: relative;
   overflow: visible;
}

.habitPopoverToggle {
   border: 0;
   padding: 0;
   aspect-ratio: 1;
   height: 100%;
   flex-shrink: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: .375rem;
   background-color: var(--habitButton-bg-color);
}

.habitPopover {
   display: flex;
   flex-direction: column;
   background-color: var(--white);
   border-radius: .25rem;
   border: 0;
   position: absolute;
   z-index: 999;
   left: 0;
   top: calc(100% + .25rem);
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
   width: max-content;
}

.habitPopoverButton {
   display: flex;
   border: 0;
   padding: .5rem;
   align-items: center;
   column-gap: .375rem;
   line-height: 1;
   white-space: nowrap;
   font-size: .875rem;
}

.habitPopoverButton[disabled] {
   opacity: .35;
}

.habitPopoverButton svg {
   width: 1rem;
   flex-shrink: 0;
}

.habitStreak {
   margin-inline-start: auto;
   align-self: center;
   display: flex;
   align-items: center;
   line-height: 1;
   gap: .125rem;
   color: var(--streak-text-color);
}

.habitStreak svg {
   width: 1.25rem;
   flex-shrink: 0;
   color: var(--streak-icon-color);
}

.habitTitle {
   font-size: 1rem;
   font-weight: 600;
   background-color: var(--habitTitle-bg-color);
   display: inline-block;
   border-radius: .375rem;
   line-height: 1.25;
   padding: .25em .5em;
}

.row {
   display: flex;
   flex-direction: row;
   width: 100%;
   max-width: 100%;
   overflow: auto;
   padding-block-end: .5rem;
   padding-inline-start: 1px;
}