
.page {
  min-height: 100dvh;
  margin-inline: auto;
  max-width: 800px;
  background-color: #FFF;
  font-family: "Geist", sans-serif;
}

.header {
  padding-block: 1rem;
  padding-inline: .5rem;
  border-bottom: 1px solid #CCC;
  display: flex;
  justify-content: space-between;
  gap: .5rem;
  align-items: center;
}

.header h1 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
}

.header button {
  border: 0;
  padding-inline: .5em;
  color: blue;
}

.main {
  margin-block-start: -1px;
  padding-block-end: 3rem;
}

.habit {
}

.habit:nth-of-type(odd) {}

.habit__header {
  padding-inline: 1rem;
  display: flex;
  justify-content: space-between;
  gap: .5rem;
  padding-block-start: 1rem;
  padding-block-end: .375rem;
}

.habit__header button {
  border: 0;
  padding: 0;
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.habit h3 {
  font-size: 1rem;
  font-weight: 600;
  color: #303030;

}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  overflow: auto;
  scroll-behavior: smooth;
  padding-block-end: .5rem;
  padding-inline-start: 1px;
}